{% extends './site.html' %}

{% block title %}Página Principal{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
{% endblock %}

{% block nombre%}{{ current_user.fullname }}{% endblock %}

{% block body %}
<div class="container">
    <h1>Encuestas</h1>
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 300px;">
                <div class="card-body">
                    <h5 class="card-title">Encuesta: Prueba</h5>
                    <a href="{{url_for('prueba')}}" class="btn btn-primary">Entrar</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}