{% extends './site.html' %}

{% block title %}Asistencia Virtual{% endblock %}

{% block customCSS %}
{% endblock %}

{% block body%}
<h3 class="text-center text-white p2 bg-dark bg-gradient text-uppercase">Encuesta: Prueba</h3>
<form action="/prueba" method="post">
    <label for="pregunta">Selecciona una pregunta:</label>
    <select name="pregunta" id="pregunta">
        {% for row in data %}
        <option value="{{row[0]}}">{{row[1]}}</option>
        {% endfor %}
    </select>
    <label for="mes">Selecciona un mes:</label>
    <select name="mes" id="mes">
        <option value="1">Enero</option>
        <option value="2">Febrero</option>
        <option value="3">Marzo</option>
        <option value="4">Abril</option>
        <option value="5">Mayo</option>
        <option value="6">Junio</option>
        <option value="7">Julio</option>
        <option value="8">Agosto</option>
        <option value="9">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
    </select>
    <br>
    <label for="year">Selecciona un año:</label>
    <select name="year" id="year">
        <option value="2023">2023</option>
        <option value="2024">2024</option>
    </select>
    <label for="Tipo">Selecciona un tipo de grafica:</label>
    <select name="Tipo" id="Tipo">
        <option value="bar">Barras</option>
        <option value="pie">Pastel</option>
    </select>
    <button type="submit">Generar</button>
</form>

<div class="container" style="width: 500px;">
    <canvas id="myChart"></canvas>
</div>

{% if respuestas %}
<div class="container mt-5">
    <table class="table table-responsive table-bordered border-dark table-hover text-center text-capitalize">
        <thead>
            <h5 class="text-center">{{preg}}</h5>
            <tr class="table-dark table-active text-white">
                <th scope="col">Respuesta</th>
                <th scope="col"># de veces obtenida</th>
            </tr>
        </thead>
        <tbody>
            {% for row in respuestas%}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: '{{tipo}}',
        options: {
            plugins: {
                title: {
                    display: true,
                    text: '{{preg}}'
                }
            }
        },
        data: {
            labels: [
                {% for row in respuestas %}
                    "{{ row[0] }}",
                {% endfor %}
            ],
    datasets: [{
        label: 'Respuestas Obtenidas',
        data: [
            {% for row in respuestas %}
                        {{ row[1] }},
    {% endfor %}
    ],
        backgroundColor: [
            'rgb(239, 71, 111)',
            'rgb(247, 140, 107)',
            'rgb(255, 209, 102)',
            'rgb(6, 214, 160)',
            'rgb(17, 138, 178)',
            'rgb(7, 59, 76)'
        ]
          }]
      }
  });
</script>
{% endif %}

{% endblock %}