{% extends './base.html' %}

{% block title %}Asistencia Virtual{% endblock %}

{% block customCSS %}
<style>
    .container{
        width: 500px;
        height: 500px;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <canvas id="myChart"></canvas>
</div>

<script>
    var info = JSON.parse('{{ data }}');
    console.log(info)
    const ctx = document.getElementById('myChart');
    new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ['Cursos De Verano', 'Información General','Paquetes', 'Sin Categoria', 'Video Mappin', 'Visitas'],
        datasets: [{
          label: 'Mensajes Por Categoría',
          data: info,
          backgroundColor: [
            'rgb(1, 190, 254)',
            'rgb(255, 221, 0)',
            'rgb(255, 125, 0)',
            'rgb(255, 0, 109)',
            'rgb(173, 255, 2)',
            'rgb(143, 0, 255)'
          ],
          hoverOffset: 4
        }]
      }
    });
</script>
{% endblock %}