{% extends './site.html' %}

{% block title %}Asistencia Virtual{% endblock %}

{% block customCSS %}
{% endblock %}

{% block body %}
<h3 class="text-center text-white p2 bg-dark bg-gradient text-uppercase">Grafica de asistencias virtuales por categoría
</h3>

<form action="/categorias" method="post" class="text-center">
    <label for="Tipo">Selecciona un tipo de grafica:</label>
    <select name="Tipo" id="Tipo">
        <option value="bar">Barras</option>
        <option value="pie">Pastel</option>
    </select>
    <button type="submit">Generar</button>
</form>

<div class="container" style="width: 500px;">
    <canvas id="myChart"></canvas>
</div>

{% if data %}
<div class="container mt-5">
    <table class="table table-responsive table-bordered border-dark table-hover text-center text-capitalize">
        <thead>
            <tr class="table-dark table-active text-white">
                <th scope="col">Categoría</th>
                <th scope="col">Asistencias brindadas</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: '{{tipo}}',
        data: {
            labels: [
                {% for row in data %}
                  "{{ row[0] }}",
              {% endfor %}
          ],
    datasets: [{
        label: 'Asistencias brindadas',
        data: [
            {% for row in data %}
                {{ row[1] }},
    {% endfor %}
    ],
        backgroundColor: [
            'rgb(239, 71, 111)',
            'rgb(247, 140, 107)',
            'rgb(255, 209, 102)',
            'rgb(6, 214, 160)',
            'rgb(17, 138, 178)',
            'rgb(7, 59, 76)'
        ]
          }]
      }
  });
</script>
{% endblock %}