{% extends './site.html' %}

{% block title %}Asistencia Virtual{% endblock %}

{% block nombre%}{{ current_user.fullname }}{% endblock %}

{% block customCSS %}
<style>
    .container {
        width: 500px;
        height: 500px;
    }
</style>
{% endblock %}

{% block body %}
<h1>Grafica de asistencias virtuales por fechas</h1>
<form action="/fechas" method="post">
    <label for="From">Fecha De Inicio:</label>
    <input type="date" name="From" id="From">
    <br>
    <label for="To">Fecha Final:</label>
    <input type="date" name="To" id="To">
    <br>
    <button type="submit">Generar</button>
</form>

<div class="container">
    <canvas id="myChart"></canvas>
</div>

{% if data %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Categoría</th>
            <th scope="col">Asistencias brindadas</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [
                {% for row in data %}
                  "{{ row[0] }}",
              {% endfor %}
          ],
    datasets: [{
        label: 'Asistencias brindadas',
        data: [
            {% for row in data %}
                      {{ row[1] }},
    {% endfor %}
    ],
        backgroundColor: [
            'rgb(239, 71, 111)',
            'rgb(247, 140, 107)',
            'rgb(255, 209, 102)',
            'rgb(6, 214, 160)',
            'rgb(17, 138, 178)',
            'rgb(7, 59, 76)'
        ]
          }]
      }
  });
</script>
{% endblock %}